<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (song | async)?.songName }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding >
  <h3> Artist </h3>
  <p>
    The song {{ (song | async)?.songName }} was released by {{ (song | async)?.artistName }}.
  </p>

  <h3> Album </h3>
  <p>
    It was part of the {{ (song | async)?.albumName }} album.
  </p>

  <h3> Description </h3>
  <p>
    {{ (song | async)?.songDescription }}
  </p>
  <ion-button expand="block" (click)="deleteSong()">
    DELETE SONG
  </ion-button>
  <ion-button expand = "block" routerLink = "/update/{{ (song | async)?.id }}">
    UPDATE SONG
  </ion-button>
</ion-content>