<ion-header>
  <ion-toolbar>
    <ion-title>update</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <h3> Judul </h3>
  <ion-item>
    <ion-label position="floating">{{ (song | async)?.songName }}</ion-label>
    <ion-input type="text" [(ngModel)]="data.songName"></ion-input>
  </ion-item>

  <h3> Artis </h3>
  <ion-item>
    <ion-label position="floating">{{ (song | async)?.artistName }}</ion-label>
    <ion-input type="text" [(ngModel)]="data.artistName"></ion-input>
  </ion-item>

  <h3> Album </h3>
  <ion-item>
    <ion-label position="floating">{{ (song | async)?.albumName }}</ion-label>
    <ion-input type="text" [(ngModel)]="data.albumName"></ion-input>
  </ion-item>

  <h3> Deskripsi </h3>
  <ion-item>
    <ion-label position="floating">{{ (song | async)?.songDescription }}</ion-label>
    <ion-input type="text" [(ngModel)]="data.songDescription"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="updateSong()">
    UPDATE SONG
  </ion-button>
</ion-content>
